<?xml version="1.0" encoding="UTF-8"?>
<phpunit verbose="false">
    <testsuites>
        <testsuite name="Unit">
            <directory phpVersion="5.6.0">tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">lib</directory>
        </whitelist>
    </filter>
</phpunit>
